[Desktop Entry]
Name=Notify App
GenericName=Example App
Comment=Start with a base Vala app
Categories=GTK;Utility;
Exec=notify-app
Icon=application-default-icon
Terminal=false
Type=Application
X-GNOME-Gettext-Domain=hello-again
Keywords=Hello;World;Example;
X-GNOME-UsesNotifications=true